<!-- <br>

<h1>LOGIN FORM BY REACTIVE METHOD</h1>

<form [formGroup]="loginform" (ngSubmit)="loginuser()">
<input type="text" placeholder="enter name" formControlName="user">
<br><span *ngIf="user && user.invalid && user.touched" style="color:red;">
   PLEASE ENTER THE NAME CORRECT MANNER
</span>
 <br><br>
<input type="password" placeholder="PassWord .." formControlName="password">
<br><span *ngIf="password && password.invalid && password.touched" style="color:red;">
  ENTER THE PASSWORD CORRECTLY
</span>
 <br><br>
<button [disabled]="loginform.invalid">SubMit </button>
</form> -->

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<!-- <nav>
  <a routerLink="loginpage" routerLinkActive="active">loginpage</a> 
  <br>
  <hr>
  <a routerLink="welpage" routerLinkActive="active">welpage</a>
</nav> -->

<!-- 
<app-loginpage></app-loginpage> -->
<router-outlet></router-outlet>
