<!-- <div class="container">
    <div class="row" >
        <div class="col-md-6" style="background-color: rgb(182, 182, 182);">
            <div class="img">
            <img src="{{product.image}}" width="100%" height="200px">
            </div>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem nihil consequatur ad quia velit! Unde maiores velit ipsam animi rerum!
            </p>
            <div class="btn">
               <button type="button" class="btn btn-sm btn-primary" > ID :{{product.id}}</button>
            </div>
        </div>
    </div>
</div> -->


<div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
        <div class="col-8">
        <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" width="100%" height="250px" src="{{product.image}}">

          <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <div id="regbutton">
                <div id="submit">
                <button type="submit" class="btn btn-primary">ID:{{product.id}}</button>
              </div>
              <div id="signup">
                <button class="btn btn-primary" (click)="backhome()">BACK</button>
              </div>
             </div>
              <!-- <small class="text-muted">9 mins</small> -->
            </div>
          </div>
      </div>
          </div>
    